body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
div.heading {
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  line-height: 2;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  text-align: center;
}
form {
  border-color: #68b2eb;
  display: inline;
}

i {
  font-size: 23px;
  color: #1976d2;
}
.container {
  margin: 0 auto;
  padding: 40px;
}
.card {
  width: 400px;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 17px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
input {
  outline: 0;
}
.days {
  color: #323232;
  font-size: 15px;
  margin-top: 15px;
}
.celsius {
  color: #757575;
  font-size: 13px;
}
.headings {
  color: #323232;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

#heading-null {
  margin-bottom: 7px;
  margin-top: 5px;
}
#heading-first {
  margin-bottom: 2px;
}
#heading-third {
  margin-top: 15px;
}
#heading-second {
  margin-bottom: 15px;
}
#paragraph {
  color: #757575;
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
}

#signature {
  text-align: center;
  font-size: 15px;
}
